<!DOCTYPE html>
<html ng-app="example">
	<head>
		<title>Angular-онавтика</title>

		<link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">

		<script src="bower_components/angular/angular.js"></script>
  		<script src="app.js"></script>
	</head>
	<body ng-controller="exampleController">
			<div class="col-md-3">
				<h2 align="center">Выберите вольер и клетку</h2>
				<div class="form-group">
					<select ng-model="request.volary" ng-options="volary as volary.text for volary in volaries" class="form-control"></select>
				</div>
				<div ng-if="request.volary" class="form-group"> <!-- Отображать, если вольер уже выбран -->
					<select ng-model="request.cage" ng-repeat="volary in volaries" ng-show="request.volary == volary" ng-options="cage as cage.text for cage in volary.cages" class="form-control"></select> <!--Здесь мы проходим по всем вольерам и отображаем клетки из того вольера, который был выбран ранее-->
				</div>
			</div>
	</body>
</html>

